
 .principal{
    position: relative;
    height: 100vh;
 }
  
.side{

   position: relative;
   display: flex;
   justify-content: center;
}
 .contenido{
    position: relative;
    height: 100vh;
     
 }

 